{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container my-5 d-flex flex-column flex-md-row justify-content-evenly aling-item-center" >
    <div>
        <h2>Book a Table</h2>

        {% include 'partials/booking_form.html' %}    

    </div>
    {% if user_bookings %}
    <div>
        <h2> Your Reservations</h2>
        <ul class="list-group">
            {% for booking in user_bookings %}
                <li class="list-group-item">
                    <a href="{% url 'booking' booking.id %}" class="btn btn-outline-secondary">{{ booking.bookingDate }} at {{ booking.reservation_time }}:00 for {{ booking.no_of_guests }} guests</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}

<script>
    document.getElementById('bookingDate').addEventListener('change', function () {
        let selectedDate = this.value;
        window.location.href = "?date=" + selectedDate;
    });
</script>
