{% extends 'base.html' %} 
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="d-flex flex-column flex-lg-row justify-content-evenly align-item-center my-5">
    <img src="{% static 'img/nedladdning.jpeg' %}" alt="{{item.tile}} image" />
    <div class="d-flex flex-column justify-content-start align-item-center">
        <h1>{{item.title}}</h1>
        <h3>{{item.description}}</h3>
        <br><br>
        <h3 >Price per portion : <span class="text-info">{{item.price}}$</span></h3>
        <br>
        <div class="d-flex flex-lg-row justify-content-evenly align-item-center">
        {% if request.user.is_authenticated and request.user|has_group:"StaffMember" %}
            <button class="btn btn-outline-secondary">Modify Item</button>
            <button class="btn btn-outline-danger">Delete Item</button>
        {% endif %}
    </div>
    </div>

</div>

 {% endblock %}
